header{
    background-color:rgb(235, 241, 241);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 200px;
}


.logo{
    color:darkgray;
    font-size: 28px;
}

.logo:hover{
    color: cornflowerblue;
    font-size: 30px;

}

.nav a{
    color:blue;
    font-size: 30px;
    padding-left: 30px;

}


section{
    padding: 100px 200px;
}

.logo :hover{
    color: dimgrey;
    font-size: 40px;
}

.main{
    width: 100%;
    background:url(wordpress-581849_1280.webp)no-repeat;
    background-size: cover;
    height: 900px;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    color:gray;
}

.view{
    color:white;
    background-color:black;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 40px;

}

.view:hover{
    background-color:cadetblue;
}
.title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: blue;
    margin-bottom: 30px;
}

.container{
    display: flex;
    justify-content: space-around;
}

.card{
    background-color:aliceblue;
    box-shadow: 0px 5px 25px black;
    padding: 25px;
    border-radius: 50px;
    margin: 30px;
    transition: 1s;
}

.card:hover{
    background-color: rgb(61, 61, 231);
    color: white;
    transform: scale(1.2,1.2);
    
}

.baraa{
    display: flex;
    
  
}




body{
    background-color: darkgray;
}



.baraa h3{
    padding: 25px;

}















































